@media all and (max-width: 480px){
    main {
        display: none;
    }
}

body {
    background: #f2f2f2;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding-left: 20px;
    padding-top: 3px;
    margin: 5px;
}

.reset-btn.show {
    visibility: inherit;
}

.results.show {
    display: block;
}